<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encrypt Chat</title>
    <style>

        .container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        textarea {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <textarea id="upperTextarea" rows="10" cols="30" disabled></textarea>
    <textarea id="lowerTextarea" rows="10" cols="5"></textarea>
</div>

<!--
<label for="box"></label>
<textarea name="" id="box" cols="30" rows="10" disabled></textarea>

<label for="entry"></label>
<textarea name="" id="entry" cols="30" rows="10"></textarea>
-->
<script>
    /*
    const chatBox = document.querySelector("#box")
    const entry = document.querySelector("#entry")

    function addMessage(message) {
        chatBox.value += `${message}\n`;
        chatBox.scrollTop = chatBox.scrollHeight; // 滚动到底部
    }

    entry.addEventListener("keypress", event => {
        if (event.key === "Enter") {
            event.preventDefault()
            addMessage(entry.value)
            entry.value = ""
        }
    })
     */
</script>
</body>
</html>