<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>口出狂言</title>
    <style>

        .container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        textarea {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <label for="upperTextarea"></label>
    <textarea id="upperTextarea" rows="30" disabled></textarea>
    <label for="lowerTextarea"></label>
    <textarea id="lowerTextarea" rows="5"></textarea>
</div>

<script>
    const upperTextarea = document.querySelector("#upperTextarea")
    const lowerTextarea = document.querySelector("#lowerTextarea")
    const key = localStorage.getItem("key")
    const sec = localStorage.getItem("sec")
    const rsa0 = localStorage.getItem("rsa0")
    const rsa1 = localStorage.getItem("rsa1")

    function addMessage(message) {
        const cryptor = new JSEncrypt()
        cryptor.setPrivateKey(rsa0)
        let text = cryptor.decrypt(message)
        upperTextarea.value += `${text}\n`;
        upperTextarea.scrollTop = upperTextarea.scrollHeight; // 滚动到底部
    }

    lowerTextarea.addEventListener("keypress", event => {
        const encryptor = new JSEncrypt()
        encryptor.setPublicKey(rsa1)
        let text = encryptor.encrypt(lowerTextarea.value)

        if (event.key === "Enter") {
            event.preventDefault()
            window.ws.send(JSON.stringify({
                op: "tolk",
                key: key,
                sec: sec,
                msg: text
            }))
            lowerTextarea.value = ""
        }
    })

    document.addEventListener("DOMContentLoaded", () => {
        if (!key || !sec || !rsa0 || !rsa1) {
            window.location.href = "/join"
        }


        const ws = new WebSocket(`ws://${window.location.host}/ws`)
        ws.addEventListener("open", event => {
            ws.send(JSON.stringify({
                op: "join",
                key: key,
                sec: sec
            }))
        })

        ws.addEventListener("close", event => {
            let date = new Date()
            localStorage.clear()
            document.cookie = `pem=no;domain=${window.location.hostname};expires=${date};path=/`
        })

        ws.addEventListener("message", event => {
            addMessage(event.data)
        })

        window.ws = ws
    })
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.3.2/jsencrypt.min.js"></script>
</body>
</html>