<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="lowerTextarea"></label>
<textarea id="lowerTextarea" rows="5"></textarea>
<label for="rsa"></label>
<textarea id="rsa" rows="5"></textarea>
<button type="button" id="submit">提交</button>
<script>
    const ipt = document.querySelector("#lowerTextarea")
    const btn = document.querySelector("#submit")
    const rsa = document.querySelector("#rsa")

    function e(msg) {
        const encryptor = new JSEncrypt()
        const rsa = localStorage.getItem("rsa")
        encryptor.setPublicKey(rsa)
        return encryptor.encrypt(msg)
    }

    btn.addEventListener("click", () => {
        const text = ipt.value
        fetch("/test", {
            method: "POST",
            body: JSON.stringify({
                "content": e(text)
            })
        })
    })

    document.addEventListener("DOMContentLoaded", () => {
        ipt.value = '{{ ctx }}'
        fetch("/rsa-test").then(response => response.json()).then(body => {
            localStorage.setItem("rsa", body)
            rsa.value = body
        })
    })
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.3.2/jsencrypt.min.js"></script>
</body>
</html>